// Import Angular Material core
@use "@angular/material" as mat;

// Include the core styles
@include mat.core();

// Define your custom theme
$cat-primary: mat.define-palette(mat.$indigo-palette);
$cat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$cat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object
$cat-theme: mat.define-light-theme(
  (
    color: (
      primary: $cat-primary,
      accent: $cat-accent,
      warn: $cat-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Apply the theme to all components
@include mat.all-component-themes($cat-theme);

// Global styles
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.votes-dialog-panel {
  .mat-mdc-dialog-container {
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
  }

  .mdc-dialog__surface {
    overflow: hidden !important;
  }
}
